<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="conatiner"></div>
    <div class="jumbotron">
        <h1 class="display-4">Hot Restaurant</h1>
        <hr class="my-4">
        <p>We only have 5 tables! Book your seat before they all are gone!</p>
                <br>
        <a class="btn btn-primary btn-lg" href="./waitingList.html" role="button">View Tables</a>
        <a class="btn btn-primary btn-lg" href="./reservation.html" role="button">Make Reservations</a>
    </div>
    </div>

    
</body>
</html>