<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hot Restaurant</h1>
            <hr class="my-4">
            <p>Make Your Reservation</p>
            <a class="btn btn-primary btn-lg" href="./waitingList" role="button">View Reservations</a>
            <a class="btn btn-primary btn-lg" href="./home" role="button">Home</a>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Table Reservation
            </div>
            <div class="col-12">
                <form>
                    <div class="form-group">
                        <div class="form-row">
                            <label for="name">Name</label>
                            <input class="form-control" id="name">
                        </div>
                        <div class="form-row">
                            <label for="phone">Phone Number</label>
                            <input class="form-control" id="phone">
                        </div>
                        <div class="form-row">
                            <label for="email">Email</label>
                            <input class="form-control" id="email">
                        </div>
                        <div class="form-row">
                            <label for="id">Unique ID</label>
                            <input class="form-control" id="id">
                        </div>
                    </div>
                    <button id="submit-reservation" type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        <div>
            <a href="./api/reservations">API Table Link</a> | <a href="./api/waitingList">API Wait List</a>
        </div>
    </div>
    
</body>