<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hot Restaurant</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">Hot Restaurant</h1>
            <hr class="my-4">
            <p>Current Reservations & Waiting List</p>
            <a class="btn btn-primary btn-lg" href="./reservation" role="button">Make Reservations</a>
            <a class="btn btn-primary btn-lg" href="./home" role="button">Home</a>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Current Reservations
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Table</h5>
                        <p class="card-text">ID</p>
                        <p class="card-text">Name</p>
                        <p class="card-text">Email</p>
                        <p class="card-text">Phone</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                Waiting List
            </div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Table</h5>
                        <p class="card-text">ID</p>
                        <p class="card-text">Name</p>
                        <p class="card-text">Email</p>
                        <p class="card-text">Phone</p>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <a href="./api/clear">Clear Table</a> | <a href="./api/reservations">API Table Link</a> | <a href="./api/waitingList">API Wait List</a>
        </div>
    </div>

</body>